.~*
.vim/

__pycache__/
*.py[cod]
*$py.class

.Python
env/
venv/
ENV/
env.bak/
venv.bak/

config/config.ini

*.log
logs/

*.sqlite3
*.db

.ipynb_checkpoints

.DS_Store

Thumbs.db
ehthumbs.db
Desktop.ini

.idea/

.vscode/
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json

.mypy_cache/
.dmypy.json
dmypy.json

.pytest_cache/

htmlcov/
.coverage
.coverage.*

.tox/
.nox/

*.swp
*.swo
*~

instance/
webapp.log
